@use "sass:map";
@use "fonts/font";
@use "variables/modules" as *;
@use "@/components/components.scss";
@use "@/layout/layout.scss";
@use "@/pages/page.scss";

*,
*::before,
*::after {
  font-family: var(--font) !important;
  box-sizing: border-box;
}

:root {
  --font: "Inter", system-ui, sans-serif;
}

:root {
  @each $name, $value in $colors {
    --color-#{$name}: #{$value};
  }

  @each $name, $value in $gap {
    --gap-#{$name}: #{$value};
  }

  @each $name, $value in $border-radius {
    --radius-#{$name}: #{$value};
  }

  @each $name, $value in $border-style {
    --border-#{$name}: #{$value};
  }

  @each $name, $value in $box-shadow {
    --shadow-#{$name}: #{$value};
  }

  @each $name, $value in $font-size {
    --font-#{$name}: #{$value};
  }

  @each $name, $value in $font-weight {
    --#{$name}: #{$value};
  }

  @each $name, $value in $line-height {
    --line-height-#{$name}: #{$value};
  }
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100%;
  margin: 0;
}

#app {
  min-height: 100vh;
}
