@use "sass:color";

@mixin button($variant: filled) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border: 0;
  background-color: transparent;

  font-size: var(--font-12);
  line-height: var(--line-height-12);

  @if $variant == filled {
    background-color: var(--color-primary-accent);
    border-radius: var(--radius-8);
    padding-block: var(--gap-12);

    font-size: var(--font-14);
    line-height: var(--line-height-14);
    color: var(--color-primary);

    &:hover {
      background-color: color.adjust(
        var(--color-primary-accent),
        $lightness: -10%
      );
    }
  } @else if $variant == text {
    color: var(--color-primary-accent);

    &:hover {
      color: color.adjust(var(--color-primary-accent), $lightness: -10%);
    }
  } @else if $variant == warning {
    color: var(--color-primary-highlight);

    &:hover {
      color: color.adjust(var(--color-primary-highlight), $lightness: -10%);
    }
  } @else {
    @error "Unknown button variant: #{$variant}";
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  @content;
}
