@mixin button($variant: filled) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border: 0;

  background-color: var(--color-primary-accent);
  border-radius: var(--radius-8);
  padding-block: var(--gap-12);

  font-size: var(--font-14);
  line-height: var(--line-height-14);
  color: var(--color-primary);

  &:hover {
    background-color: color-mix(
      in srgb,
      var(--color-primary-accent),
      black 10%
    );
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  @content;
}
